@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Sintony&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    scroll-behavior: smooth;
    background: rgba(209, 224, 224, 0.25);
}

hr {
    height: 30px;
}

/* nav bar flexbox*/

.nav-container {
    display: flex;
    justify-content: flex-end;
    height: 5rem;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #874b4b;
    color: white;
    font-size: 150%;
}

nav div {
    letter-spacing: 0.1rem;
    padding: 2rem 2rem 0 0;
    font-family: sintony, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-right: auto;
    text-transform: capitalize;
    font-family: jaldi, sans-serif;
    letter-spacing: 0.3rem;
    color: white;
    padding: 1rem 0 0 5rem;
    flex-grow: 2;
}

/* building */

.flex-container {
    display: flex;
}

.flex-image {
    overflow: hidden;
    flex-grow: 1;
    margin: auto;
}

.flex-text {
    max-width: 50%;
    flex-grow: 1;
    font-size: 120%;
    margin: auto;
}

#build {
    font-size: 280%;
    text-transform: capitalize;
    letter-spacing: 4px;
    margin: auto;
    padding: 65px 0px 20px 0px;
    text-align: center;
}

#building-text {
    font-size: 150%;
    letter-spacing: 2px;
    color: #874b4b;
}

/*painting*/
#paint {
    text-align: center;
    font-size: 450%;
    text-transform: capitalize;
    color: #874b4b;
}

.painting-container {
    display: flex;
    justify-content: flex-start;
    color:#874b4b;
}

.flex-painting-left {
    line-height: 3rem;
    margin: auto;
    width: 60%;
    font-size: 200%;
}

.flex-painting-center {
    margin: auto;
    width: 60%;
}

.flex-painting-right {
    line-height: 3rem;
    margin: auto;
    width: 60%;
    padding-left: 10px;
    font-size: 200%;
}

/* Form */

.form-container {
    display: flex;
    justify-content: center;
}

.signup {
    color: white;
    background-color: #874b4b;
    max-width: 600px;
    padding: 40px;
    height: 330px;
}

.signup-form>h2 {
    color: #874b4b;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px inset #fafafa;
    background: rgba(2, 17, 17, 0.25);
    border-radius: 2px;

}

.text-input:hover {
    border-color: black;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: whitesmoke;
    display: block;
    color: #874b4b;
}

.join-button:hover {
    background-color: rgba(209, 224, 224, 0.5);
    color: rgb(227, 250, 211);
}

/*footer*/

footer{
    background-color: #874b4b;
}

.social-networks {
    display: flex;
    justify-content: center;
    color: white
}

.social {
    font-size: 200%;
    margin: 1%;
    letter-spacing: 50px;
}

/* media query moblie*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-text {
        max-width: 100%;
    }

    #building-text p {
        padding: 10px;
    }

    .nav-container {
        justify-content: unset;
        position: unset;
        height: 6rem;
        font-size: 80%;
    }

    .logo {
        padding: unset;
    }

    .painting-container {
        flex-direction: column;
    }

    .signup {
        height: 370px;
    }
}
/* landscape orientation*/
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    .nav-container {
        height: 8rem;
    }

    .flex-container {
        padding-top: 70px;
        flex-direction: column;
    }

    .flex-text {
        max-width: unset;
    }

    #build {
        padding: 10px 0px 10px 0px;
    }

    .painting-container {
        flex-direction: column;
    }

    .logo {
        padding: unset;
    }
}
/* tablet media query*/
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .flex-container {
        flex-direction: column;
    }

    .nav-container {
        height: 8.5rem;
    }

    .flex-image {
        padding-top: 95px;
    }

    .flex-text {
        max-width: unset;
    }

    .painting-container {
        flex-direction: column;
    }

    .flex-painting-left{
        width:unset;
    }

    .flex-painting-right{
        width: unset;
    }
}