@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Sintony&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

hr{
    height: 30px;
}

/* nav bar flexbox*/

.nav-container{
    display: flex;
    /*background-color: antiquewhite;*/
    justify-content: flex-end;
    height: 5rem;
}

nav div{
    letter-spacing: 0.1rem;
   /* color:green;*/
    padding: 2rem 2rem  0 0;
    font-family: sintony, sans-serif;
}

.logo{
    margin-right: auto;
    text-transform: capitalize;
    font-family: jaldi, sans-serif;
    letter-spacing: 0.3rem;
    /*color: #1c2833;*/
    padding: 1rem 0 0 5rem;
}
/* building */

.flex-container {
    display: flex;
}

.float-image {
    overflow: hidden;
    flex-grow: 1;
    object-fit: fill;
  }
  
  .float-text{
    max-width: 50%;
    flex-grow: 1;
    font-size: 120%;
  }

#build{
    font-size: 280%;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin:auto;
    padding: 65px 0px 20px 0px;
}
#building-text{
    font-size: 120%;
    text-transform: capitalize;
    letter-spacing: 2px;
}

/*painting*/
#paint{
   text-align: center;
   font-size: 450%;
   text-transform: capitalize;
}

#circle-square{
    width: 39%;
    height: 300px;
    padding: 25px;
    border-style: dashed;
    border-color: black;
    border-width: 0.5rem;
    border-radius: 25%;
    margin: 0 auto;
}

.painting-container{
    display: flex;
    justify-content: flex-start;
}

.flex-painting-left{
    line-height: 20px;
    margin: auto;
    width: 60%;
}
.flex-painting-center{
    margin: auto;
    width: 60%;


}
.flex-painting-right{
    line-height: 20px;
    margin: auto;
    width: 60%;
}